<p id="notice"><%= notice %></p>

<p>
  <b>Название:</b>
  <%= @food.title %>
</p>

<p>
  <b>Рецепт:</b>
  <%= @food.recipe %>
</p>

<p>
  <b>Категория:</b>
  <%= @food.category.title %>
</p>

<%= link_to 'Редактировать', edit_food_path(@food) %> |
<%= link_to 'Назад', category_path(@food.category) %>
