<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @category.title %>
</p>

<p>
  <b>Deleted:</b>
  <%= @category.deleted %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<h2>Foods:</h2>
<table id="foods-list">
<%= render :partial => 'foods/foods', :locals => {:foods => @category.foods} %>
</table>
<%= link_to 'New Food', new_food_path(:category => @category.id) %>